body{
    background-image: url("../../assets/images/ioasys-background.png");
    background-size: cover;
    height: 100vh;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    margin-left: 115px;
    align-items: center;
}
.form_login{
    width: 80%;
}
#logo{
    width: 104.4px;
    height: 36px;
}

.title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 48px;
    gap: 16.6px;
}
.sub_title{
    font-weight: 300;
    color: #ffffff;
    font-size: 28px;
}
#input_submit{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 4px;
    overflow: hidden;
}

#email{
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.32);
    border: none;
    margin-bottom: 10px;
    padding: 20px;
    color: #ffffff;
}

#password{
    height: 60px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    padding: 20px;
    color: #ffffff;
    width: 74%;
}

::placeholder{
    color: rgba(255, 255, 255, 1);
}

input:focus-visible{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.login_button{
    width: 85px;
    height: 36px;
    border-radius: 44px;
    border: none;
    cursor: pointer;
}