.card {
  height: 11.875rem;
  width: 23.825rem;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 2em rgba(82, 82, 82, 0.055);
  position: relative;
  transition: 0.4s;
  display: flex;
  padding: 16px;
  cursor: pointer;

  .image {
    display: flex;
    align-items: center;
  }
}
.card:hover {
  box-shadow: 0 0 5em rgba(185, 105, 169, 0.582);
  top: -3px;
}

.book-image {
  max-width: 106px;
}

.informations {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .names {
    .book_name {
      font-size: 18px;
      font-weight: 500;
    }

    .book_author_name {
      font-size: 14px;
      font-weight: 400;
      color: #ab2680;
    }
  }
  .more-informations {
    .number-pages,
    .publishing-company,
    .year-of-publication {
      font-size: 14px;
      font-weight: 400;
      color: #999999;
    }
  }
}


.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}


.modal {
  height: 38rem;
  width: 48.063rem;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 0 2em rgba(82, 82, 82, 0.055);
  position: relative;
  transition: 0.4s;
  display: flex;
  padding: 16px;
  cursor: pointer;

  

  .modal_div_image {
    margin-left: 12px;
    width: 23rem;
    .modal_book_image {
      max-width: 100%;
    }
  }

  .modal_informations{
    max-width: 20rem;
    width: 20rem;
    padding-left: 3rem;
    .modal_names{
      .moda_book_name{
        font-size: 28px;
        font-weight: 500;
      }
      .book_author_name{
        color: #ab2680;
        font-weight: 400;
      }
    }
    .modal_more_informations{
      margin-top: 2rem;
      #modal_informations_title{
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .modal_info{
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.3rem;

        span{
          color: #999999;
          font-weight: 400;
        }

      }
    }
    .modal_review{
      margin-top: 1.4rem;
      #modal_review_title{
        font-weight: 500;
      }
      #review{
        font-size: 14px;
        color: #999999;
        font-weight: 500;
        margin-top: 0.4rem;
        span{
          img{
            max-width: 1rem;
            margin-right: 2px;
          }
        }
      }
    }
  }

}
.card:hover {
  box-shadow: 0 0 5em rgba(185, 105, 169, 0.582);
  top: -3px;
}

.book-image {
  max-width: 106px;
}

.informations {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .names {
    .book_name {
      font-size: 18px;
      font-weight: 500;
    }

    .book_author_name {
      font-size: 14px;
      font-weight: 400;
      color: #ab2680;
    }
  }
  .more-informations {
    .number-pages,
    .publishing-company,
    .year-of-publication {
      font-size: 14px;
      font-weight: 400;
      color: #999999;
    }
  }
}
